.MovieDetails {
    padding: 0px;
    margin: 0px 15px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.MovieImage {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 0px;
}

.MovieAttributes {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:41%; 
    background-color: white; 
    padding: 5px;
    box-sizing: border-box; 
    border-radius: 0 0 20px 20px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    flex-wrap: wrap;  
}

h2 {
    padding: 20px;
    color: #3e49b1;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.75em;
}

.MovieGenre {
    display:inline-block;
    background-color: #97c2ec;
    color: white;
    border-radius: 8px;
    margin: 5px;
    font-size: .9em;
    font-weight: bold;
    line-height: 1em;
    flex-shrink: 0;
}

