.MovieDetails {
    padding: 0px;
    margin: 0px 15px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.MovieDetails_image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 0px;
}

.MovieDetails_attributes {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:41%; 
    background-color: white; 
    /* JB: added opacity below because I think it looks better... */
    opacity: .85;
    padding: 5px;
    box-sizing: border-box; 
    border-radius: 0 0 20px 20px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;  
}

.MovieDetails_title {
    padding: 20px;
    color: #3e49b1;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.75em;
}

.MovieDetails_genreList {

    padding: 10px
}

.MovieDetails_genre {
    display:inline-block;
    background-color: #97c2ec;
    color: white;
    border-radius: 8px;
    padding: 10px 8px;
    margin: 5px;
    font-size: .9em;
    font-weight: bold;
    line-height: 1em;
    flex-shrink: 0;
}

.MovieDetails_overview {
    color: black;
    margin: 0;
    padding: 10px;
}