.MoviePoster {
    flex: 1 1 calc(20% - 10px); 
    max-width: calc(15% - 10px);
    padding: 0px;
    margin: 0px 15px 0px 15px;
    margin-bottom: 30px;
} 


.posterImage {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 0px;
}

.voteButton, img {
    height: 15px;
    width: 15px;
}

button {
    border: none;
    background-color: transparent;
}

p {
    display: block;
    color: black;
    background-color: white;
    margin: 0px;
    padding: 8px;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 1em;
}