.MoviePoster {
    flex: 1 1 calc(20% - 10px); 
    max-width: calc(15% - 10px);
    padding: 0px;
    margin: 0px 15px 0px 15px;
    margin-bottom: 30px;
    flex-direction: column;
} 

.MoviePoster_image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: -8px;
}

.MoviePoster_votes {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 0px;
    padding: 12px 8px 8px 8px;
    font-size: .75em;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: white;
}

.MoviePoster_voteIcon {
    height: 15px;
    width: 15px;
}

button {
    border: none;
    background-color: transparent; 
}